# Comments partial

<h2>Comments</h2>
<h3><%= comment.created_at %>:</h3>

<%= @my_comment %>
<%= comment.body %>
<%= comment.likes %>

<%= link_to 'Delete', [comment.post, comment], method: :delete, data: { confirm: 'Are you sure?' } %>


