<h2>Posts</h2>

<section class="cards">
<% @posts.each do |post| %>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><%= post.title %></h5>
      <p class="card-text"><%= post.body %></p>
      <%if post.comments.count >= 0 %>
        <%= link_to 'Add Comment', new_comment_path(:comment, post_id: post.id), class:"btn btn-light"%>
      <%end%>
      <% if post.comments.count >= 1 %> 
        <p>
          <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Show Comments
          </button>
        </p>
        <div class="collapse" id="collapseExample">
          <div class="card card-body">
          
            <% post.comments.each do |comment| %>
            -
            <%= comment.body %>
            <br>
            <% end %>
          </div>
        </div>
      <% end %> 

      <% if user_signed_in? && current_user.id == post.user_id %>
        <%= link_to 'Edit', edit_post_path(post), class: "btn btn-light" %>
        <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
      <% end %>
    </div>
  </div>
<% end %>
</section>
