<h1>Posts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Likes</th>
      <th>Reaction</th>
      <th>Tags</th>
      <th>Attachment</th>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.body %></td>
        <td><%= post.likes %></td>
        <td><%= post.reaction %></td>
        <td><%= post.tags %></td>
         <%# <td><%=post.attachment_id %></td>
         <%# <td><%= post.comment_id %></td> 
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% @posts.each do |post| %>
  <div class="modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"><%= post.title %></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p><%= post.body %></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary"><%= link_to 'Edit', edit_post_path(post) %></button>
          <button type="button" class="btn btn-primary"><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></button>
        </div>
      </div>
    </div>
  </div>
<% end %>

<br>

<%= link_to 'New Post', new_post_path %>
