<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "partials/navbar.html.erb" %>

    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <%= alert %>
    </div>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <%= notice %>
    </div>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
