<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "partials/navbar.html.erb" %>

    <% unless alert.nil? %>
      <div class="alert alert-success" role="alert">
        <%= alert %>
      </div>
    <% end %>
    <% unless notice.nil? %>
      <div class="alert alert-warning" role="alert">
        <%= notice %>
      </div>
    <% end %>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
